In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('boston.csv')

In [7]:
data.head()

,ID,TOWN,TOWNNO,TRACT,LON,LAT,x,y,MEDV,CMEDV,...,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1.0,0.0,0.0,2011.0,-70.955,42.2550,338.73,4679.73,24.0,24.0,...,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,2.0,0.0,1.0,2021.0,-70.950,42.2875,339.23,4683.33,21.6,21.6,...,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,3.0,0.0,1.0,2022.0,-70.936,42.2830,340.37,4682.80,34.7,34.7,...,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,4.0,0.0,2.0,2031.0,-70.928,42.2930,341.05,4683.89,33.4,33.4,...,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,5.0,0.0,2.0,2032.0,-70.922,42.2980,341.56,4684.44,36.2,36.2,...,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
data.describe()

,ID,TOWN,TOWNNO,TRACT,LON,LAT,x,y,MEDV,CMEDV,...,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.0,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,253.500000,0.0,47.531621,2700.355731,-71.056389,42.216440,330.263893,4675.644071,22.532806,22.528854,...,0.069170,0.554696,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,146.213884,0.0,27.571401,1380.036830,0.075405,0.061777,6.251767,6.838865,9.197104,9.182176,...,0.253994,0.115877,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,1.000000,0.0,0.000000,1.000000,-71.289500,42.030000,310.850000,4654.550000,5.000000,5.000000,...,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,127.250000,0.0,26.250000,1303.250000,-71.093225,42.180775,327.237500,4671.735000,17.025000,17.025000,...,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,253.500000,0.0,42.000000,3393.500000,-71.052900,42.218100,330.540000,4675.885000,21.200000,21.200000,...,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,379.750000,0.0,78.000000,3739.750000,-71.019625,42.252250,333.390000,4679.595000,25.000000,25.000000,...,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,506.000000,0.0,91.000000,5082.000000,-70.810000,42.381000,350.230000,4693.730000,50.000000,50.000000,...,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

file”,sep=”,”) to write data frames or matrices to a file.

Variable	Description
ID	Sequential ID
TOWN	A factor with levels given by town names
TOWNNO	A numeric vector corresponding to TOWN
TRACT	A numeric vector of tract ID numbers
LON	A numeric vector of tract point longitudes in decimal degrees
LAT	A numeric vector of tract point latitudes in decimal degrees
X	X Coordinates (UTM Zone 19)
Y	Y Coordinates (UTM Zone 19)
MEDV	A numeric vector of median values of owner-occupied housing in USD 1000
CMEDV	A numeric vector of corrected median values of owner-occupied housing in USD 1000
CRIM	A numeric vector of per capita crime
ZN	A numeric vector of proportions of residential land zoned for lots over 25000 sq. ft per town (constant for all Boston tracts)
INDUS	A numeric vector of proportions of non-retail business acres per town (constant for all Boston tracts)
CHAS	A factor with levels 1 if tract borders Charles River; 0 otherwise
NOX	A numeric vector of nitric oxides concentration (parts per 10 million) per town
RM	A numeric vector of average numbers of rooms per dwelling
AGE	A numeric vector of proportions of owner-occupied units built prior to 1940
DIS	A numeric vector of weighted distances to five Boston employment centers
RAD	A numeric vector of an index of accessibility to radial highways per town (constant for all Boston tracts)
TAX	A numeric vector full-value property-tax rate per USD 10,000 per town (constant for all Boston tracts)
PTRATIO	A numeric vector of pupil-teacher ratios per town (constant for all Boston tracts)
B	A numeric vector of 1000*(Bk - 0.63)^2 where Bk is the proportion of blacks
LSTAT	A numeric vector of percentage values of lower status population